<!-- register.html -->
{% extends 'base.html' %}
{% load static %}
{%block header%}
{% include 'header.html' %}
{% endblock header%}
{% block main-content %}
<div class="container--fluid">
    <div class="row align-items-center">
        <h3 class="text-center"><a href="{% url 'home'%}">Home</a></h3>
    </div>

    <div class="row align-items-center">
        <h3 class="text-center">Update Informations User</h3>
    </div>

    <form method="post" action="{% url 'update-user' %}">
        {% csrf_token %}
        <table>
            <tr>
                <div class="row align-items-center h5">
                    <td class="col-lg-4 p-3"><label>User name:</label></td>
                    <td class="col-lg-8 p-3"><input type="text" value="{{request.session.account.username}}" name="username" required>
                    </td>
                </div>
            </tr>
            <tr>
                <div class="row align-items-center h5">
                    <td class="col-lg-4 p-3"><label>First name:</label></td>
                    <td class="col-lg-8 p-3"><input type="text" value="{{request.session.account.first_name}}" name="first_name" required>
                    </td>
                </div>
            </tr>
            <tr>
                <div class="row align-items-center h5">
                    <td class="col-lg-4 p-3"><label>Last name:</label></td>
                    <td class="col-lg-8 p-3"><input type="text" value="{{request.session.account.last_name}}" name="last_name" required>
                    </td>
                </div>
            </tr>
            <tr>
                <div class="row align-items-center h5">
                    <td class="col-lg-4 p-3"><label>Email:</label></td>
                    <td class="col-lg-8 p-3"><input type="email" value="{{request.session.account.last_name}}" name="email" required></td>
                </div>
            </tr>

        </table>
        <div class="row align-items-center">
            <div class="col-lg-3 p-3 text-center">
                <input class="btn btn-outline-success" type="submit" value="Update">
            </div>
        </div>
    </form>

</div>

{% endblock main-content %}
